:root {
  --background-color: #f4eeee;
  --text-color: #333;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
.boton-sin{
  background: none;
  border: none;
  padding: 0; 
  cursor: pointer;
  text-decoration: none;
}
.scroller{
  padding-top: 2%;
  overflow-y: scroll;
  height: 240px;
  width: 100%;
}

.itemScroller {
  margin: 10px 0;
}