:root {
  --background-color: #f4eeee;
  --text-color: #333;
  --identicolor: rgb(194, 156, 200, 0.8);
  --estado: rgb(49, 245, 78);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
.boton-sin{
  background: none;
  border: none;
  padding: 0; 
  cursor: pointer;
  text-decoration: none;
}
.scroller{
  padding-top: 2%;
  overflow-y: scroll;
  height: 240px;
  width: 100%;
}

.itemScroller {
  margin: 10px 0;
}
.drop{
  border-radius: 20px;
  background-color: #f4eeee;
}
@media screen and (max-width: 480px) {
  .scroller{
    margin-top: 20px;
  }
}