.container{
    display: block;
    width: 100%;
}
.line{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.button{
    background-color: rgba(102, 180, 213, 0.8);
    border-radius: 20px;
    border-color: rgba(102, 180, 213, 0.8);
    height: 40px;
    width: 120px;
}