
.celdaHead {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.celdaRow {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.celdaRowCumple {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(194, 156, 200, 0.8);
    color: white;
}
.celdaRowCumple2 {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 255, 242, 0.8);
    color: white;
}

.celdaRow2 {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange
}
.bg {
    background-color: #FFFEC4;
}

.colorOne {
    background: linear-gradient(to right, rgb(194, 156, 200, 0), rgb(194, 156, 200, 0.25), rgb(194, 156, 200, 0.65), rgb(194, 156, 200, 1.0));
}

.ganancia{
    color: green;
}
.perdida{
    color: red
}
.neutro{
    color: black
}